.main{
    align-items: center;
    background:white url("../../images/auth_bg.jpg");
    background-blend-mode: darken;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}
.forgotPasswordMain{
    background-color: white;
    border-radius: 0 20px 0 20px;
    box-shadow: 0 20px 30px rgba(0,0,0,.2);
    height: auto;
    padding: 10px 50px 30px;
    width: 300px;
}
.forgotPasswordMainInside{
    background-color: white;
    border-radius: 0 20px 0 20px;
    box-shadow: 0 20px 30px rgba(0,0,0,.2);
    height: auto;
    padding: 10px 50px 30px;
    width: 300px;
}
.goBack{
    display: flex;
    justify-content: space-between;
}
.goBack button{
    margin-left: -40px;
    border:none;
    background-color: transparent;
    cursor: pointer;
}
.faarrowleft {
    background-color: transparent;
  border: 1px solid #6c63ff;
  border-radius: 50%;
  padding: 0.5rem;
  font-size: 0.8rem;
  color: #6c63ff;
  transition: all 0.2s ease-in-out;
  }
  .faarrowleft:hover{
    transform: scale(1.05);
  }
  .image{
    height: 100%;
    width: 100%;
  }
  .userDetailField{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .userDetailField input{
    background-color: white;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    height: 30px;
    margin: 0 0 10px;
    padding: 0 10px;
   
  }
  .forgotPasswordButton{
    align-items: center;
    display: flex;
    width: 100%;
  }
  .forgotPasswordButton button{
    background-color:#b3afff ;
    border: none;
    border-radius: 5px;
    color: white;
    height: 30px;
    width: 100%;
    cursor:not-allowed;
  }
